<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourist Russian</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/Tourist_Russian.css">
</head>
<body>
    <header class="header" id="header">
        <div class="header-title">
            <a href="#">ТУРИСТИЧЕСКАЯ РОССИЯ</a>
            <p>Отдыхайте с нами!</p>
        </div>
    </header>
    <ul class="nav-bar">
        <li><a href="#" class="nav-el">Главная</a></li>
        <li><a href="#tours" class="nav-el">Туры</a></li>
        <li><a href="#tours-price" class="nav-el">Ценовая карта</a></li>
        <li><a href="#news" class="nav-el">Новости</a></li>
        <li><a href="#contacts" class="nav-el">Контакты</a></li>
<!--        <li><a href="#registration" class="nav-el">Регистрация</a></li>-->
    </ul>
    <section class="tours" id="tours">
        <h1>Доступные туры</h1>
        <div class="tours-el">
            <h2>1. Краснодарский край</h2>
            <p>Море, солнце, горы, реки и озера — так обычно начинают свой рассказ о Краснодарском крае. После Олимпиады 2014 года для главного курорта России началась новая эра. Сюда стремятся, чтобы пощекотать нервы в Скайпарке AJ Hackett Sochi в 200 метрах над землей. Зимой здесь так же многолюдно, как и летом, ведь в Краснодарский край съезжаются тысячи любителей горнолыжного отдыха. А если одного моря мало, то на полуострове Тамань можно побывать сразу на двух — Черном и Азовском.</p>
            <img src="../static/img/krasnodar.jpg" alt="">
            <div class="href-tours-page">
                <a href="../templates/Tours.html#krasnodar">Подробнее</a>
            </div>
        </div>
        <div class="tours-el">
            <h2>2.Алтайский край</h2>
            <p>В Алтайском крае каждый путешественник найдет занятие по вкусу: для археолога – древние стоянки и пещеры, для гурмана – алтайский сыр и алтайский мёд, для любителя курортного отдыха – озеро Яровое и курорт Белокуриха. Тех, кто ищет единения с природой, ждут уютные турбазы, расположенные в окружении заснеженных гор и вековых сосен, и чистый таежный воздух.</p>
            <img src="../static/img/altai.jpg" alt="">
            <div class="href-tours-page">
                <a href="../templates/Tours.html#altai">Подробнее</a>
            </div>
        </div>
        <div class="tours-el">
            <h2>2.Архангельская область</h2>
            <p>В Архангельской области множество удивительных и особенных мест: полноводные реки и чистейшие озера, чарующие северные леса и суровое Белое море, затерянные в снегах поморские деревни, старинные храмы и величественные монастыри, выдающиеся памятники русского деревянного зодчества с затейливыми резными узорами.</p>
            <img src="../static/img/arhangelsk.jpg" alt="">
            <div class="href-tours-page">
                <a href="../templates/Tours.html#arhangel">Подробнее</a>
            </div>
        </div>
    </section>
    <section class="tours-price" id="tours-price">
        <h1>Ценовая карта</h1>
        <ul class="tours-price-bar">
            <li class="tours-price-el"><p>Крым</p><p>37800 р.</p></li>
            <li class="tours-price-el"><p>Сочи</p><p>42300 р.</p></li>
            <li class="tours-price-el"><p>Лазаревское</p><p>38235 р.</p></li>
            <li class="tours-price-el"><p>Адлер</p><p>43800 р.</p></li>
            <li class="tours-price-el"><p>Евпатопия</p><p>27055 р.</p></li>
            <li class="tours-price-el"><p>Краснодарский край</p><p>40775 р.</p></li>
            <li class="tours-price-el"><p>Ейск</p><p>26550 р.</p></li>
            <li class="tours-price-el"><p>Анапа</p><p>29325 р.</p></li>
            <li class="tours-price-el"><p>Геленджик</p><p>34565 р.</p></li>
            <li class="tours-price-el"><p>Кисловодск</p><p>23725 р.</p></li>
        </ul>
        <p class="price-details"><em>Указана стоимость недельного тура, рассчитываемая для группы людей из 10-15 человек</em></p>
    </section>
    <section class="news" id="news">
        <h1>Новости</h1>
        <div class="news-bar">
            <h2>Медведь сел в машину и сгорел!</h2>
            <p>Достоверные источники сообщили о страшном, 15-ти метровом, эластичном медведе карлике. Этот вид считался вымержим на прошлой неделе, но дин экземпляр выжил.</p>
            <p>Рядом проезжавшую машину, медведь поджог, зтем сжался и сел в нее. Сильно обгоревшее тело не стали доставать.</p>
            <h2>Председатель сената, Юлия Санна, заявила о снижении минимального прожиточного минимума до 5000 рублей.</h2>
            <p>После совещания совета, из своего замера она добавила, что сама замечательно живет на такую сумму.</p>
            <p>Вероятно, она начала путать между собой такие понятия, как "день" и "месяц" - заявил ее верный пес Максим Савикович Семнадцатый</p>
        </div>
    </section>
    <footer class="footer">
        <div class="find-us">
            <h3>ИЩИТЕ НАС ЗДЕСЬ</h3>
            <h3>Адрес:</h3>
            <p>127238, Москва, ул. Яблочкова, 21А</p>
            <h3>Режим работы:</h3>
            <p>Понедельник—пятница: 9:00–17:00<br>Суббота и воскресенье: 11:00–15:00</p>
        </div>
        <div class="connect-us" id="contacts">
            <h3>СВЯЗАТЬСЯ С НАМИ</h3>
            <h3>Номер телефона: </h3>
            <p>+7 (495) 555-55-55</p>
            <h3>Электронная почта: </h3>
            <p>info@touristrussia.space</p>
            <ul class="social-bar">
                <li><a href="https://www.facebook.com/TouristRussia/" class="social-el"><img src="../static/img/FACEBOOK.svg" alt=""></a></li>
                <li><a href="https://vk.com/touristrussia" class="social-el"><img src="../static/img/VK.svg" alt=""></a></li>
                <li><a href="https://www.instagram.com/touristrussia/" class="social-el"><img src="../static/img/INSTA.svg" alt=""></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>